<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <img src="/logo-mercado-liebre.svg" alt="Logo Mercado Libre">
        <p>Lugar para poner barra de busqueda</p>
        <p>Compra en cuotas y sin tarjeta de credito</p>
        <nav>
            <section>
                <ul>
                    <li>
                        <a href="#ofertas">Ofertas</a>
                    </li>
                    <li>
                        <a href="">Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="">Vender</a>
                    </li>
                    <li>
                        <a href="">Ayuda</a>
                    </li>
                </ul>
            </section>
            <section>
                <ul>
                    <li>
                        <a href="">Crea tu cuenta</a>
                    </li>
                    <li>
                        <a href="">Ingresa</a>
                    </li>
                    <li>
                        <a href="">Mis compras</a>
                    </li>
                </ul>
            </section>
        </nav>
    </header>
    <section id="ultima-visita">
        <img src="/img-home-banner.jpg" width="100%" alt="">
        <h3>Basado en tu última visita</h3>

        <img src="/img-cafetera-moulinex.jpg" width="100%" alt="Foto de una cafetera">
        <p>$6.770</p>
        <p>40% OFF</p>
        <strong>
            <p>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</p>
        </strong>

        <img src="/img-macbook-pro-2019.jpg" width="100%" alt="Foto de una macbook">
        <p>$150.970</p>
        <p>10% OFF</p>
        <strong>
            <p>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</p>
        </strong>

        <img src="/img-tv-samsung-smart.jpg" width="100%" alt="Foto de un tv samsung">
        <p>$54.230</p>
        <p>5% OFF</p>
        <strong>
            <p>Televisor Samsung Smart TV Lorem ipsum, dolor sit amet.</p>
        </strong>

        <img src="/img-samsung-galaxy-s10.jpg" width="100%" alt="Foto de un smartphone samsung">
        <p>$89.410</p>
        <p>20% OFF</p>
        <strong>
            <p>Samsung Galaxy s10 Lorem ipsum, dolor sit amet.</p>
        </strong>
    </section>
    <section id="ofertas">
        <img src="/img-home-banner.jpg" width="100%" alt="">
        <h3>Ofertas</h3>

        <img src="/img-cafetera-moulinex.jpg" width="100%" alt="Foto de una cafetera">
        <p>$6.770</p>
        <p>40% OFF</p>
        <strong>
            <p>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</p>
        </strong>

        <img src="/img-macbook-pro-2019.jpg" width="100%" alt="Foto de una macbook">
        <p>$150.970</p>
        <p>10% OFF</p>
        <strong>
            <p>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</p>
        </strong>

        <img src="/img-tv-samsung-smart.jpg" width="100%" alt="Foto de un tv samsung">
        <p>$54.230</p>
        <p>5% OFF</p>
        <strong>
            <p>Televisor Samsung Smart TV Lorem ipsum, dolor sit amet.</p>
        </strong>

        <img src="/img-samsung-galaxy-s10.jpg" width="100%" alt="Foto de un smartphone samsung">
        <p>$89.410</p>
        <p>20% OFF</p>
        <strong>
            <p>Samsung Galaxy s10 Lorem ipsum, dolor sit amet.</p>
        </strong>
    </section>
    <footer>
        <strong>
            <p>Pagá con tarjeta o en efectivo</p>
        </strong>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de
            pago. ¡Y siempre es seguro!</p>
        <strong>
            <p>Envío gratis desde $ 1.999</p>
        </strong>
        <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <strong>
            <p>Seguridad, de principio a fin</p>
        </strong>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegido.</p>
        <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>