<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Libre"></a>
        <p>Lugar para poner barra de busqueda</p>
        <p><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito</p>
        <div>
            <i class="fas fa-bars"></i>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#ofertas">Ofertas</a>
                </li>
                <li>
                    <a href="">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="">Vender</a>
                </li>
                <li>
                    <a href="">Ayuda</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/register">Crea tu cuenta </a><i class="far fa-id-card"></i>
                </li>
                <li>
                    <a href="/login">Ingresa </a><i class="fas fa-sign-in-alt"></i>
                </li>
                <li>
                    <a href="">Mis compras </a><i class="fas fa-shopping-basket"></i>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/" method="POST">
            <p>
                <input type="text" name="userName" id="userName" placeholder="Nombre de usuario"><br>
            </p>
            <p>
                <input type="password" name="password" id="password" placeholder="Elegi tu contrasenia"><br>
            </p>
            <p>
                <input type="submit" value="Enviar">
            </p>
        </form>
    </main>
    <footer>
        <article>
            <i class="fas fa-credit-card blue-icon"></i>
            <h6>Pagá con tarjeta o en efectivo</h6>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de
                pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <i class="fas fa-gift blue-icon"></i>
            <h6>Envío gratis desde $ 1.999</h6>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
            <i class="fas fa-user-shield blue-icon"></i>
            <h6>Seguridad, de principio a fin</h6>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegido.</p>
        </article>
        <div>
            <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>

</html>